.main_chat_messages_message
  .main_chat_messages_message_users
    .main_chat_messages_message_users_user-name
      = message.user.name
    .main_chat_messages_message_users_day
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main_chat_messages_message_post
    - if message.content.present?
      %p.message_post_content
        = message.content
    = image_tag message.image.url, class: 'message_post_image' if message.image.present?