.side_bar

  .side_bar_header
    .side_bar_header_box
      .side_bar_header_box_user-name
        masa
      .side_bar_header_box_menu
        .side_bar_header_box_menu_group
          = link_to "#", class: "#" do
            = icon('fas', 'object-group')
        .side_bar_header_box_menu_edit
          = link_to "#", class: "#" do
            = icon('fas', 'edit')
            
  .side_bar_groups
    .side_bar_groups_group
      .side_bar_groups_group_group-name
        tech camp
      .side_bar_groups_group_latest-message
        まだメッセージがありません
